{% extends 'base_template.html'%}

{% block content %}

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    

    <div class="form-outline mb-4">
        <label class="form-label" for="form6Example5">Recipe Title</label>
      <input required name="title" type="text" id="form6Example5" class="form-control" value="{{ form.title.value }}" />
    </div>

    <div class="form-outline mb-4">
        <label class="form-label" for="form6Example5">Recipe Photo</label>
        <input required name="picture" type="file" accept="image/png, image/gif, image/jpeg" id="form6Example5" class="form-control" value="{{ form.picture.value }}" />
    </div>
  

    <div class="form-outline mb-4">
        <label class="form-label" for="form6Example6">Ingredients</label>
      <input required name="ingredients" type="text" id="form6Example6" class="form-control" value="{{ form.ingredients.value }}" />
    </div>
  

    <div class="form-outline mb-4">
        <label class="form-label" for="form6Example7">Recipe Body</label>
      <textarea required name="recipe_text" class="form-control" id="form6Example7" rows="4"> {{ form.recipe_text.value }} </textarea>
    </div>


    <button type="submit" class="btn btn-primary btn-block mb-4">Post Recipe</button>
  </form>
{% endblock %}
